<template>
  <div class="container">
      <Board></Board>
  </div>
</template>

<script>
import axios from 'axios';

export default {
  name: 'Chess',
  data() {
    return {
      chess: '',
    };
  },
  methods: {
  },
  created() {
    console.log('Chess.Created')
  },
};
</script>
