<template>
  <v-container fill-height fluid grid-list-xl>
    <v-layout justify-center wrap>
      <v-flex md12>
        <material-card color="blue" title="Start a New Game">
          <v-btn class="pa-auto mr-3 font-weight-light" color="success" @click="createNewGame(0)">
            <v-icon class="mr-2">mdi-robot</v-icon>Bot vs. Bot (Demo)
          </v-btn>
          <v-btn class="pa-auto mr-3 font-weight-light" color="success" @click="createNewGame(1)">
            <v-icon class="mr-2">mdi-robot</v-icon>1 player
          </v-btn>
          <v-btn class="pa-auto mr-3 font-weight-light" color="success" @click="createNewGame(2)">
            <v-icon class="mr-2">mdi-account-multiple</v-icon>2 players
          </v-btn>
          <v-btn class="pa-auto font-weight-light" color="error" to="login">Log out</v-btn>
        </material-card>
        <material-card color="blue" title="Join a Game">
          <v-data-table :headers="headers" :items="items" hide-actions>
            <template slot="headerCell" slot-scope="{ header }">
              <span class="subheading font-weight-light text--darken-3" v-text="header.text"/>
            </template>
            <template slot="items" slot-scope="{ item }">
              <td>
                <v-btn
                  class="mx-0 font-weight-light"
                  color="success"
                  @click="joinGame(item)"
                >{{ isSpectateOrJoin(item) }}</v-btn>
              </td>
              <td>{{ item.players.join(' vs. ') }}</td>
              <td>{{ item.moves.length }}</td>
              <td>{{ item.created }}</td>
            </template>
          </v-data-table>
        </material-card>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
import Vue from "vue";
import axios from "axios";
import { authHeader } from "../_helpers";
import { userService } from "../_services";

export default {
  data: () => ({
    headers: [
      {
        sortable: false,
        text: "",
        value: "name"
      },
      {
        sortable: false,
        text: "Players",
        value: "country"
      },
      {
        sortable: false,
        text: "# Moves",
        value: "salary"
      },
      {
        sortable: false,
        text: "Date",
        value: "city"
      }
    ],
    items: [],
    user: {},
    id: "",
    created: null,
    fen: "",
    players: [],
    games: [],
    positionInfo: "",
    test: false
  }),
  created() {
    this.user = JSON.parse(localStorage.getItem("user"));
    this.$emit("user");
    // console.log("user", this.user);
  },
  mounted() {
    this.getGames();

    var channel = this.$pusher.subscribe("secret-chess");
    channel.bind("move", pushedData => {
      console.log("pushed", pushedData);
      this.getGames();
    });
  },
  methods: {
    isSpectateOrJoin(item) {
      return item.players.length == 2 &&
        this.user.data &&
        !item.players.includes(this.user.data.name)
        ? "Spectate"
        : "Join";
    },
    joinGame(game) {
      this.$router.push({
        name: "Game",
        query: {
          id: game.id,
          test: this.test
        }
      });
    },
    createNewGame(numPlayers) {
      var path = "new/human";
      switch (numPlayers) {
        case 0:
          this.test = true;
          path = "new/bot/";
          break;
        case 1:
          path = "new/bot/";
          break;
        case 2:
          path = "new/human/";
          break;
      }
      axios.get(path, authHeader()).then(res => {
        this.joinGame(res.data);
      });
    },
    getGames() {
      // console.log("getgames", this.user.data.name);
      var path = "games/" + this.user.data.name + "/";
      axios
        .get(path, authHeader())
        .then(res => {
          this.items = res.data.games;
          console.log(this.items);
        })
        .catch(error => {
          console.error(error);
        });
    }
  }
};
</script>
